  @media (max-width: 480px) {
    .hero {
        width: 400px;
      }
      .hero-content h1 {
        font-size: 3rem;
      }
      .hero-content h2{
        font-size: 2rem;
    
      }
      .marquee {
        width: 400px;
      }      
      .hero-content p {
        font-size: 1rem;
      }
      .Videos iframe {
        width: 400px;
        height: 400px;
      }
      
      .Foto {
        gap: 15px;
        box-sizing: 20px ;
        padding: 20px;
        display: flex;
        height: 280px;
        width: 300px;
      }
      
      .Mapa iframe {
        gap: 15px;
        box-sizing: 20px ;
        padding: 20px;
        display: flex;
        height: 200px;
        width: 300px;
      }
      .foot-element {
      display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-column: 
     'caja1'
     'caja2'
     'caja3';
     padding: 0px;
      align-items: center;
     justify-content: center;
  }

}

